body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #ccebff;
  transition: background-color 0.5s ease;
}

h1 {
  color: #0000003f
}

#team-name {
  color: #0000008b;
  font-size: 50px;
  font-weight: bold;
  text-align: center;

}

#member-section {
  width: 60%;             
  max-width: 600px;        
  margin: 20px auto;       
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}

#member-section img {
  width: 150px;
  border-radius: 50%;
  margin: 10px 0;
  width: 200px;
  height: 200px;
}

#hora {
  width: 30%;             
  max-width: 200px;        
  margin: 20px auto;       
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.419);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}

button {
  margin: 10px;
  padding: 10px 15px;
  background-color: #ffffffc5;
  border: none;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: black;
  padding: 13px 18px;
}

title {
  color: #ffffff;
}
